/* header section */
.bannerContainer {
    background-image: url('../resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 20px 40px;
    text-align: center;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    /* width: auto; */
}

.bannerOverlay {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.649);
}

.bannerP {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.bannerH1 {
    font-size: 60px;
    width: 500px;
    color: white;
}

/* main section start */

.section65 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.h1-class {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.para2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section65Para {
    margin-top: 2px;
    margin-bottom: 100px;
}

.section65Img {
    width: 100%;
}


.new-year-party {
    background-image: url("../resources/Vectorrr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 40px;
    text-align: center;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}

.midnight-party {
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.649);
    padding-left: 80px;
    text-align: left;
}

.party-h3 {
    font-size: 60px;
    margin-bottom: 10px;
    width: 500px;
    color: white;
}

.paragraph {
    color: white;
    width: 60%;
}

.btn {
    background-color: black;
    color: white;
}

.giftContainer {

    margin: 60px 40px;
}

.giftP {
    width: 500px;
    color: rgba(7, 2, 17, 0.60);
}

.pclass {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.giftH1 {
    margin: 0;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.giftCardcontainer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.giftCard {
    width: 33%;
    height: 250px;
    border: 1px solid white;
    border-radius: 10px;
}

.giftCardImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}
.where-the-party{
    margin: 40px;
    border-radius: 20px;
    background-color: rgb(252, 243, 245);
    padding: 100px 100px 100px 380px;
    justify-content: center;
    align-items: center;
}
.btn2{
   
    margin-top: 20px;
    border-radius: 8px;
    padding: 8px 16px;
    background: #F00;
    color: white;
    border-color: white;
    justify-content: center;
    align-items: center;
}
.last {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(245, 218, 222);
    text-align: center;
  }
  .lastSection {
    width: 60%;
    margin: 0 auto;
  }
  .lastP {
    color: rgb(32, 32, 32);
    font-size: 14px;
  }
  .input {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    padding: 5px 30px;
    height: 50px;
    width: 250px;
    border-radius: 500px 0 0px 500px;
  }
  .btn {
    outline: none;
    border: none;
    background-color: red;
    padding: 0 30px;
    color: white;
    border-radius: 0 500px 500px 0;
  }
  .footer {
    background-color: black;
    color: white;
    padding: 50px;
  }
