/* header section */
.bannerContainer {
    background-image: url('../resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 20px 40px;
    text-align: center;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    /* width: auto; */
}
.bannerOverlay {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.649);
}
.bannerP {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
  }
  .bannerH1 {
    font-size: 60px;
    width: 500px;
    color: white;
  }