.hello{
    align-items: center;
}
.image-banner {
    width: 600px;
    padding: 30px 30px 0px 150px;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;

}

.text-banner {
      
      align-content: center;
      color: black;
      font-size: 24px;
      font-family: Arial, sans-serif;
      text-align: center;
    /* 131.944% */
}
.main-part{
    /* max-height: 1165px;
    max-width: 112px; */
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.main-part-image{
    display: flex;
    gap: 20px;

}
.new-one{
    display: flex;
}
.new-two{
    display: flex;
}